<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="BPMProConnection" connectionString="Server=arhtewfsysdb;Database=BPMPRO;User Id=Newtype;Password=ybgwjqru@2023qa;" />
        <add name="NupConnection" connectionString="Server=arhtewfsysdb;Database=NUP;User Id=Newtype;Password=ybgwjqru@2023qa;" />
        <add name="WriteNupConnection" connectionString="Server=arhtewfsysdb;Database=NUP;User Id=Newtype;Password=ybgwjqru@2023qa;" />

    </connectionStrings>

    <appSettings>
        <!-- Dev / Product -->
        <add key="Environment" value="Dev" />

        <!-- Number / -1 -->
        <add key="TakeRows" value="100" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>